:host { 
    margin: 0;
     font-family: Segoe UI, "Helvetica Neue", sans-serif; 
     
}

.font {
    font-family: Segoe UI Variable, sans-serif; 
}    

.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}

.room-body {
    background: #000000;
    height: 100%;
}

.video-container {      
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    height: 100%;
}

.video-player {
    object-fit: cover;
    border: 0.5px solid white;
    border-radius: 20px;
    margin-top: 20px;
}
